Source: ros-kinetic-libreflexxestype2
Section: misc
Priority: extra
Maintainer: stogl <stogl@todo.todo>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-libreflexxestype2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Package with ReflexxesTypeII implementation and header files
